/* Lou Stringer portfolio: main style sheet */

/* fonts */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* reset global settings */
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  color: #3E3E3E;
}

*:focus {
  outline: 0;
}

body {
  width: 100%;
}

h1, h2, h3 {
  font-family: "Montserrat";
  letter-spacing: 0.1em;
}

h2 {
  margin: 20px 10px;
  font-size: 1.75em;
}

p, figcaption {
  margin-top: 15px;
}

a {
  text-decoration: none;
  border-radius: 0px;
}

img {
  width: 100%;
}

#about, #work, #thoughts, #contact, footer {
  background-image: url("../images/gplay.png");
  background-repeat: repeat;
}

#about div, #about figure, #about img , #work div, #thoughts a, #content {
  border-radius: 10px;
}

/* Nav bar */
nav {
  z-index: 10;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #e7e7e7;
  padding: 0 10px;
  transition: 0.4s;
}

nav.nav-up {
  top: -50px;
  opacity: 0;
}

nav.nav-down {
  top: 0px;
}

nav a {
  width: 80px;
  font-size: 1em;
  margin: 0 5px 0 0;
  text-align: center;
  align-self: center;
  transition: 0.1s;
}

nav a.home {
  width: 150px;
  margin: 0 auto 0 0;
}

nav a:hover, nav a:focus {
  box-shadow: 0 1px #3E3E3E;
  font-weight: bold;
}

/* main landing section */
#landing {
  display: flex;
  justify-content: flex-end;
  background: rgba(46, 189, 206, 0.4);
}

#landing img {
  max-width: 35%;
  height: 100vh;
  margin-right: auto;
}

#landing .landing-wrapper {
  height: 100vh;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 0 50px;
  text-align: right;
}

#landing .landing-wrapper h1 {
  font-size: 3.25em;
}

/* about section */
#about {
  min-height: 50vh;
  padding: 20px 50px;
  background-color: #e7e7e7;
}

#about .about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.itsAllAboutMe p:first-child {
  margin-top: 0px;
}

#about figure, #about .itsAllAboutMe  {
  min-width: 300px;
  max-width: 450px;
  margin: 10px;
  border: 5px solid rgba(46, 189, 206, 0.3);
  padding: 10px;
  background: #FFFFFF;
}

/* featured work section */
#work {
  min-height: 50vh;
  padding: 20px 50px;
  /* background-color: #e7e7e7; */
}

#work .work-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#work .work-wrapper .work-example {
  min-width: 300px;
  max-width: 450px;
  margin: 15px;
  border: 5px solid rgba(46, 189, 206, 0.3);
  background: #ffffff;
  transition: 0.2s;
}

.work-example:hover, .work-example:focus {
  transform: scale(1.05, 1.05);
  box-shadow: 0 10px 5px -5px #e7e7e7;
}

#work .work-wrapper .work-overview {
  box-sizing: border-box;
  min-width: 300px;
  max-width: 450px;
  padding: 15px;
  text-align: center;
}

/* show detail (small screen) */
#work .work-wrapper .work-example-clicked {
  display: flex;
  justify-content: space-around;
  min-width: 300px;
  max-width: 450px;
  margin: 15px;
  border: 5px solid rgba(46, 189, 206, 0.3);
  background: #ffffff;
}

#work .work-wrapper .work-detail {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  max-width: 450px;
  padding: 15px;
  overflow: hidden;
  text-align: center;
}

/* show detail (wide screen) */
@media only screen and (min-width: 768px) {
  #work .work-wrapper .work-example-clicked {
    display: flex;
    justify-content: space-around;
    min-width: 600px;
    max-width: 900px;
    margin: 15px;
    border: 5px solid rgba(46, 189, 206, 0.3);
    background: #ffffff;
  }

  #work .work-wrapper .work-detail {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    max-width: 450px;
    padding: 15px;
    overflow: hidden;
    text-align: center;
  }
}

#work .work-wrapper .hide {
  display: none; !important
}

.work-detail p {
  margin: 5px 0;
}

.work-links {
  display: flex;
  justify-content: center;
  margin: auto 0 0 0;
}

.button {
  width: 120px;
  height: 35px;
  text-align: center;
  margin: 0 5px;
  border: 3px solid rgba(46, 189, 206, 0.3);
  border-radius: 5px;
  line-height: 35px;
  transition: 0.2s
}

.button:hover, .button:focus {
  transform: scale(1.05, 1.05);
  box-shadow: 0 10px 5px -5px #e7e7e7;
}

/* writing section */
#thoughts {
  min-height: 50vh;
  padding: 20px 50px;
  background-color: #e7e7e7;
}

#thoughts .thoughts-wrapper {
  /* min-height: 40vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#thoughts .thoughts-wrapper .thoughts-example {
  min-width: 300px;
  max-width: 450px;
  min-height: 125px;
  margin: 10px;
  border: 5px solid rgba(46, 189, 206, 0.3);
  padding: 10px;
  background: #FFFFFF;
  transition: 0.2s;
}

.thoughts-example:hover, .thoughts-example:focus {
  transform: scale(1.05, 1.05);
  box-shadow: 0 10px 5px -5px #e7e7e7;
}

/* contact section */
#contact {
  height: 150px;
  padding: 20px 50px;
}

#contact .links {
  display: flex;
  flex-wrap: wrap;
  min-height: 40px;
  max-height: 80px;
  margin: 10px;
}

#contact .links a {
  margin: 0 10px;
  padding: 0 5px;
  line-height: 35px;
}

#contact .links a:hover, #contact .links a:focus {
  box-shadow: 0 1px #3E3E3E;
}

/* footer */
footer {
  padding: 10px 0;
  background-color: #e7e7e7;
  text-align: center;
}

footer p {
  margin: 0;
}

footer a {
  text-decoration: underline;
}
