/* Lou Stringer portfolio: main style sheet */

/* fonts */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* fix Firefox & Safari rendering bug */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

/* reset global settings */
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  color: #3E3E3E;
  text-align: center;
}

*:focus {
  outline: 0;
}

/****** generic styles  ******/
/* overall section settings */
#about, #work, #thoughts, #contact  {
  min-height: 20vh;
  padding: 20px 50px;
}

nav, #about, #thoughts, footer {
  background-color: #e7e7e7;
}

#about, #work, #thoughts, #contact, footer {
  background-image: url("../images/gplay.png");
  background-repeat: repeat;
}

#about div, #about figure, #about img, #work div, #thoughts a, #content, #content img {
  border-radius: 10px;
}

/* flexbox wrappers */
nav, #landing,.landing-wrapper, .about-wrapper, .work-wrapper, .work-example,
.work-detail, .work-links, .thoughts-wrapper, .links  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* common content div styles */
#about figure, .itsAllAboutMe, .work-example, .thoughts-example {
  min-width: 300px;
  max-width: 450px;
  margin: 15px;
  border: 5px solid rgba(46, 189, 206, 0.3);
  padding: 15px;
  background: #FFFFFF;
}

/* common hover/focus styles */
a:hover, a:focus  {
  box-shadow: 0 1px #3E3E3E;
  font-weight: bold;
}

.work-example:hover, .work-example:focus, .button:hover,
.button:focus, .thoughts-example:hover, .thoughts-example:focus {
  transform: scale(1.05, 1.05);
  box-shadow: 0 10px 5px -5px #e7e7e7;
}

/* transitions */
nav, nav a, .work-example, button, .thoughts-example {
  transition: 0.3s;
}

/* general element settings */
h1, h2, h3 {
  font-family: "Montserrat";
  letter-spacing: 0.1em;
}

h2 {
  text-align: left;
  margin: 20px 10px;
  font-size: 1.75em;
}

p, figcaption {
  margin-top: 15px;
}

a {
  text-decoration: none;
  border-radius: 0px;
}

p > a {
  font-weight: bold;
  box-shadow: 0 1px rgba(46, 189, 206, 0.3);
}

img {
  width: 100%;
}

/* Nav bar */
nav {
  z-index: 10;
  position: fixed;
  top: 0;
  flex-wrap: nowrap;
  width: 100%;
  height: 50px;
}

.nav-up {
  top: -50px;
  opacity: 0;
}

nav a {
  width: 80px;
  font-size: 1em;
  margin: 0 5px 0 0;
}

nav a.home {
  width: 150px;
  margin: 0 auto 0 5px;
}

/* landing section */
#landing {
  flex-wrap: nowrap;
  height: 100vh;
  background: rgba(46, 189, 206, 0.4);
}

#landing img {
  min-width: 0;
  max-width: 35%;
  height: 100vh;
  margin: 0 auto 0 0;
}

.landing-wrapper {
  height: 100vh;
  min-width: 350px;
  flex-direction: column;
  margin: 0 20px 0 0;
}

.landing-wrapper > * {
  text-align: right;
}

.landing-wrapper h1 {
  font-size: 3.25em;
  align-self: flex-end;
}

.landing-wrapper h2 {
  font-size: 1.25em;
}

/* ******* section-specific styling ******* */
/* about section */
#about p {
  text-align: left;
}

.itsAllAboutMe p:first-child {
  margin-top: 0px;
}

/* featured work section */
.work-example {
  max-width: 900px;
}

.work-overview, .work-detail {
  box-sizing: border-box;
  flex: 1;
  min-width: 300px;
  max-width: 450px;
  padding: 5px;
}

#work .work-wrapper .hide {
  display: none; !important
}

.work-detail p {
  margin: 5px 0;
}

.work-links {
  margin: auto 0 0 0;
}

.button {
  width: 120px;
  margin: 5px;
  padding: 10px;
  border: 3px solid rgba(46, 189, 206, 0.3);
  border-radius: 5px;
}

/* writing section */
#thoughts * {
  text-align: left;
}

.thoughts-example {
  flex: 1;
  min-height: 125px;
}

/* contact section */
.links {
  justify-content: flex-start;
  min-height: 40px;
  margin: 10px;
}

.links a {
  margin: 15px;
}

/* footer */
footer p {
  padding: 5px;
}
